<form class="filter-form" method="get">
    <div class="form-group">
        <label for="id_title">Назва:</label>
        {{ filter.form.title }}
    </div>

    <div class="form-group">
        <label for="id_year">Рік:</label>
        <div class="custom-select">
            {{ filter.form.year }}
        </div>
    </div>

    <div class="form-group">
        <label for="id_director">Режисер:</label>
        {{ filter.form.director }}
    </div>

    <div class="form-group">
        <label for="id_actors">Актори:</label>
        {{ filter.form.actors }}
    </div>

    <button type="submit" class="btn btn-primary">Apply filters</button>


    <a href="{% url 'film:create_view' %}">
        <button type="button">Create Film</button>
    </a>

</form>
